.container {
    width: 80%;
    margin: auto;
}

.bottom-border {
    border-bottom: 1px solid $main_color;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

ul {
    display: inline-block;
    list-style-type: none;
    display: float;
    margin: 0px;
}

ul li {
    float: left;
}

.btn_primary {
    background-color: $btn_main_color;
    color: white;
    padding: 0px 20px;
}

.btn_alt {
    background-color: white;
    color: $btn_main_color;
    padding: 0px 10px;
    border: 1px solid $btn_main_color;
    border-radius: 7px;
}
