* {
    font-family: $main_font_family;
}

a {
    color: $main_color;
}

.text-center {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.container-left {
    width: 80%;
}

.container-right {
    width: 80%;
    margin-left: 20%;
}

.bottom-border {
    border-bottom: 1px solid $main_color;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

ul {
    display: inline-block;
    list-style-type: none;
    display: float;
    margin: 0px;
}

ul li {
    float: left;
}

.btn_primary {
    border: none;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background-color: $btn_main_color;
    color: white;
    padding: 0px 20px;
    font-size: $font_size_btn;
    border-radius: 7px;
    @include flex-vertical-center;
    cursor: pointer;

    i {
        font-size: 20px;
        color: yellow;
        padding-right: $space_small;
    }
}

.btn_alt {
    @extend .btn_primary;
    background-color: white;
    color: $btn_main_color;
    border: 1px solid $btn_main_color;

    i {
        color: red;
    }
}
