footer {
    color: $main_color;
    margin: $space_section 0px;

    div.container {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }

    div.container div:first-child {
        width: 30%;

        img {
            width: 50px;
            display: inline-block;
            margin-right: 8px;
        }

        p {
            width:250px;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
        }

        a {
            color: $btn_main_color;
        }
    }

    #site-map {
        width: 68%;
        ul {
            padding-left: 20px;
            float: left;
            width: 120px;
        }

        ul li {
            float: none;
            font-size: 14px;
            display: block;
            margin: 15px 0px;
        }

        ul li:first-child {
            font-size: 18px;
            font-weight: bold;
            margin: 0px 0px 20px 0px;
        }

        ul li a:hover {
            color:$btn_main_color;
        }
    }
}
