// variabili colore
$main_color: #58402c;
$secondary_color: #ffe7d2;
$btn_main_color: #30488f;

//variabili font
$main_font_family: 'Roboto', sans-serif;
$font_size_sectitle: 26px;
$font_size_sectext: 18px;
$font_size_btn: 14px;


//variabili spaziature
$space_small: 10px;
$space_medium: 20px;
